# Node environment
PORT=5000
NODE_ENV=development

# Database Configuration (Get your connection string from Neon.tech)
DATABASE_URL=postgres://user:password@endpoint.neon.tech/neondb?sslmode=require

# JWT Secret for Admin Auth
JWT_SECRET=super_secret_jwt_key_change_me_in_production
