# Node environment
PORT=add port
NODE_ENV=development

# Database Configuration (Get your connection string from Neon.tech)
DATABASE_URL=Data base url
# JWT Secret for Admin Auth
JWT_SECRET=jwt secret

